<!-- Footer -->
<footer class="bg-gray-900 text-white py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div class="md:col-span-2">
                <div class="flex items-center mb-4">
                    <i class="fas fa-book-open text-2xl text-blue-400 mr-3"></i>
                    <span class="text-xl font-bold">IPC2 - VJ2025</span>
                </div>
                <p class="text-gray-400 mb-4 max-w-md">
                    Ejemplo de django para la materia de IPC2, donde se gestionan libros y usuarios. Explora nuestros servicios y recursos digitales.
                </p>
                
            </div>
            
            <div>
                <h3 class="text-lg font-semibold mb-4">Recordatorio: </h3>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Entrega 26/06</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Entrega 26/06</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Entrega 26/06</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Entrega 26/06</a></li>
                </ul>
            </div>
            
            <div>
                <h3 class="text-lg font-semibold mb-4">Más información: </h3>
                <ul class="space-y-2">
                    <li><a href="https://github.com/AndreaCabrera01/IPC2-VJ2025" class="text-gray-400 hover:text-white transition duration-300">Repo clase</a></li>
                    <li><a href="https://github.com/AndreaCabrera01/IPC2-VJ2025" class="text-gray-400 hover:text-white transition duration-300">Repo clase</a></li>
                    <li><a href="https://github.com/AndreaCabrera01/IPC2-VJ2025" class="text-gray-400 hover:text-white transition duration-300">Repo clase</a></li>
                    <li><a href="https://github.com/AndreaCabrera01/IPC2-VJ2025" class="text-gray-400 hover:text-white transition duration-300">Repo clase</a></li>
                </ul>
            </div>
        </div>
        
        <div class="border-t border-gray-800 mt-8 pt-8 text-center">
            <p class="text-gray-400">
                &copy; Junio 2025  - IPC2
            </p>
        </div>
    </div>
</footer>